# Node.js dependencies
node_modules/
**/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
**/.env

# Build outputs
client/build/
server/build/

# Debugger files
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache folder
.npm

# Optional eslint cache
.eslintcache

# Optional coverage directory
coverage/

# Misc
*.tgz

# Mac specific
*.DS_Store

# React Native specific (if used)
*.expo
.expo-shared/

# Yarn Integrity file
.yarn-integrity

# Environment variable overrides for client and server
client/.env.local
server/.env.local
client/.env.development.local
server/.env.development.local
client/.env.test.local
server/.env.test.local
client/.env.production.local
server/.env.production.local

git-history.zip